@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:600);

html {
  font-family: "Titillium Web";
  font-weight: 400;
  color: black;
  font-size: 14px;
  cursor: default;
}

body {
  margin: 100px 0px 100px 0px;
  padding: 0px;
  text-align: center;
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2012/07/21/6585/f2c6791884d5d3609c6c99902c14a40c.jpg")
    no-repeat fixed center;
}

#container {
  margin: 0px auto;
  padding: 50px;
  width: 650px;
  text-align: justify;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 6px;
  border: 1px solid #cccccc;
}

.box {
  margin-bottom: 10px;
}

.strong {
  font-weight: 600;
  font-size: 20px;
}

h3 {
  text-align: justify;
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-weight: 600;
}

#pink {
  text-shadow: 2px 2px 3px #fa0cda;
}

#orange {
  text-shadow: 2px 2px 1px #fc8d32;
}

#yellow {
  text-shadow: 2px 2px 1px #fcf803;
}

#green {
  text-shadow: 2px 2px 1px #0cfa64;
}

#indigo {
  text-shadow: 2px 2px 1px #9b0cfa;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-image: url(https://www.divaglitter.com/myspace_layout/tweaks/glitter_sparkle_links/sparkles.gif);
}

ul {
  list-style-image: url("https://www.mariowiki.com/images/3/34/Coin_Spinning_NSMB.gif");
}

#nav td {
  text-align: right;
  padding-right: 20px;
}

#nav img {
  width: 30px;
  height: 30px;
}
